$bg-color:              #EEF2F7;
$color:                 #2A2E2F;
$card-color:            #ffffff;
$basic-accent:          #1F5BFF;
$basic-accent-dark1:    #0743E7;
$font-family:           -apple-system, BlinkMacSystemFont, Verdana, Roboto, Helvetica, Arial, sans-serif;
$font-size:             16px;
